mapKnight.userprefs

mapKnight_Utils/bin/*
mapKnight_Values/bin/*
mapKnight_Editor/bin/*
mapKnight_Android/bin/*
mapKnight_Terminal/bin/*
mapKnight_Installer/bin/*

mapKnight_Utils/obj/*
mapKnight_Values/obj/*
mapKnight_Editor/obj/*
mapKnight_Android/obj/*
mapKnight_Terminal/obj/*
mapKnight_Installer/obj/*

mapKnight_Test/*
Components/*
.vs/*
packages/*

mapKnight_Android/Assets/Thumbs.db
mapKnight_Android/Resources/drawable/Thumbs.db
mapKnight_Editor/content/Thumbs.db
mapKnight_Editor/Resources/Thumbs.db