mapKnight.userprefs
Components/*
.vs/*
packages/*
mapKnight_Android/Assets/Thumbs.db
mapKnight_Android/Resources/drawable/Thumbs.db
mapKnight_Android/bin/*
mapKnight_Android/obj/*
mapKnight_Editor/mapKnight_Editor.csproj.user
mapKnight_Editor/Resources/Thumbs.db
mapKnight_Editor/.vs/*
mapKnight_Editor/bin/*
mapKnight_Editor/obj/*
mapKnight_Editor/content/Thumbs.db
mapKnight_Test/*
mapKnight_Utils/bin/*
mapKnight_Values/bin/*
mapKnight_Terminal/bin/*
mapKnight_Installer/bin/*
mapKnight_Utils/obj/*
mapKnight_Values/obj/*
mapKnight_Terminal/obj/*
mapKnight_Installer/obj/*