<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mapKnight.ToolKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolKitv2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <mapKnight.ToolKit.Properties.Settings>
            <setting name="TabActiveBackColor" serializeAs="String">
                <value>75, 129, 180</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>184, 205, 224</value>
            </setting>
            <setting name="TabControlFont" serializeAs="String">
                <value>Segoe UI, 9.75pt</value>
            </setting>
            <setting name="TabActiveForeColor" serializeAs="String">
                <value>237, 243, 247</value>
            </setting>
            <setting name="TabInActiveBackColor" serializeAs="String">
                <value>219, 230, 240</value>
            </setting>
            <setting name="TabInActiveForeColor" serializeAs="String">
                <value>23, 39, 54</value>
            </setting>
            <setting name="MenuStripFont" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="TabControlOutlineColor" serializeAs="String">
                <value>53, 90, 126</value>
            </setting>
            <setting name="MenuStripActiveForeColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="MenuStripActiveBackColor" serializeAs="String">
                <value>72, 118, 157</value>
            </setting>
            <setting name="MenuStripInActiveForeColor" serializeAs="String">
                <value>75, 129, 180</value>
            </setting>
            <setting name="MenuStripInActiveBackColor" serializeAs="String">
                <value>184, 205, 224</value>
            </setting>
            <setting name="MenuStripOutlineColor" serializeAs="String">
                <value>53, 90, 126</value>
            </setting>
            <setting name="MenuStripInActiveDropDownBackColor" serializeAs="String">
                <value>184, 205, 224</value>
            </setting>
            <setting name="MenuStripInActiveDropDownForeColor" serializeAs="String">
                <value>75, 129, 180</value>
            </setting>
            <setting name="MenuStripActiveDropDownBackColor" serializeAs="String">
                <value>72, 118, 157</value>
            </setting>
            <setting name="MenuStripActiveDropDownForeColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="MenuStripDropDownOutlineColor" serializeAs="String">
                <value>53, 90, 126</value>
            </setting>
            <setting name="ListViewBackColor" serializeAs="String">
                <value>78, 131, 177</value>
            </setting>
            <setting name="ListViewSelectedColor" serializeAs="String">
                <value>23, 39, 53</value>
            </setting>
            <setting name="ListViewForeColor" serializeAs="String">
                <value>237, 243, 247</value>
            </setting>
            <setting name="ListViewFont" serializeAs="String">
                <value>Segoe UI, 11.25pt</value>
            </setting>
            <setting name="MapBackColor" serializeAs="String">
                <value>78, 131, 177</value>
            </setting>
            <setting name="MenuStripCheckedBackColor" serializeAs="String">
                <value>153, 255, 51</value>
            </setting>
            <setting name="MenuStripCheckedForeColor" serializeAs="String">
                <value>13, 26, 0</value>
            </setting>
            <setting name="MenuStripCheckedOutlineColor" serializeAs="String">
                <value>77, 153, 0</value>
            </setting>
            <setting name="SplitterColor" serializeAs="String">
                <value>53, 90, 126</value>
            </setting>
        </mapKnight.ToolKit.Properties.Settings>
        <ToolKitv2.Properties.Settings>
            <setting name="TabActiveBackColor" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="TabControlFont" serializeAs="String">
                <value>Segoe UI, 9.75pt</value>
            </setting>
            <setting name="TabActiveForeColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="TabInActiveBackColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="TabInActiveForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MenuStripFont" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="TabControlOutlineColor" serializeAs="String">
                <value>244, 155, 62</value>
            </setting>
            <setting name="MenuStripActiveForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MenuStripActiveBackColor" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="MenuStripInActiveForeColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="MenuStripInActiveBackColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="MenuStripOutlineColor" serializeAs="String">
                <value>244, 155, 62</value>
            </setting>
            <setting name="MenuStripInActiveDropDownBackColor" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="MenuStripInActiveDropDownForeColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="MenuStripActiveDropDownBackColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="MenuStripActiveDropDownForeColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="MenuStripDropDownOutlineColor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="ListViewBackColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="ListViewSelectedColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ListViewForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ListViewFont" serializeAs="String">
                <value>Segoe UI, 11.25pt</value>
            </setting>
        </ToolKitv2.Properties.Settings>
    </userSettings>
</configuration>